

.main-compiler-body {
    margin-left: 15%;
    margin-bottom: 1%;
    
    /* padding: 50px; */
    /* background-color: black; */
     /* alignContent:"center"; */
     /* textAlign:"center"; */
}

.editor{
    border-color: rgba(0, 0, 0, 0.178);
    border-style:solid;
    border-width:6px;
}

.encloser{
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        background-color: rgb(255, 255, 255);
}

.compiler-head {
        display: flex;
        flex: 1 1 4%;
        height: 1.5em;
        /* min-height: 2.5em; */
        /* max-height: 2em; */
        font-size: 2.2em;
        color: #141311;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        align-content: center;
        padding:20px 0px 20px 0px;
        margin-bottom: 6%;
        background-color: rgba(0, 0, 0, 0.144);
        text-shadow: 3px 3px 3px #000;
        display: block;
        font-style: italic;  
}

.form-body{
    direction: flex;
    margin-left: 18%;
}

.gap1{
    justify-content: center;
    margin-left: 10%;
    margin-right: 20%;
    width: 40%;
}

.run-btn{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-left: 15%; */
    /* margin-bottom: 10%; */
    justify-content: start;
    flex-direction: column;
}

.output-box{
    /* border-color: rgba(0, 0, 0, 0.178);
    border-style:solid;
    border-width:2px; */
    margin-left: 17%;
    margin-right: 25%;
    margin-bottom: 3%;
}

h3{
    margin-left: 17%;
}

.output-area{
    border-color: rgba(0, 0, 0, 0.178);
    border-style:solid;
    border-width:2px;
    white-space: nowrap;
    padding:5px;
    width: 60%;
    /* margin-left: 17%;
    margin-right: 25%;
    margin-bottom: 8%; */
}