main{
  display : flex;
  flex-direction: column;
  height : 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size : 4rem;
  font-weight: 400;
  text-align: center;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-length-container {
  display: flex;
}

button {
  padding : 5px 10 px;
  margin : 0 10px;
  height : 25px;
  background-color: #263646;
  border: none;
  cursor: pointer;
  color: #eee;
  border-radius: 8px;
  width: 70px;
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container {
  border: 2px solid #263646;
  margin-top: 40px;
  border-radius: 25px;
  width: 250px;
  /* width: 40%; */
  /* text-align: center; */
  box-shadow: 0 4px 14px rgba(0,0,0,0.50);
  padding: 10px;
  /* margin-left: 30%; */
  
}


. timer-section {
  text-align: center;
  /* display: flex; */
}

.pomo-doro {
  text-align: center;
  /* justify-content: center; */
}

.timer {
  font-size: 2rem;
  
}

.timer-actions {
  margin-top: 20px;  
  text-align: center;
}